:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'inter';
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url(/assets/img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}
.container_botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}
.botao_secundario {
    border: 2px solid var(--branco-principal);
    background-color: transparent;
}
.container_aviso {
    color: var(--cinza-secundario);
    font-size: 12px;
}
.container_titulo {
    font-size: 28px;
    font-weight: 700;
}
.container__imagem {
    margin: 1em 0 2em 0;
}
.container__caixa {
    margin: 0 6em;
}

/* Segundo sessao */
.secundario {
    align-items: center;
    margin: 0 10em;
}
.secundario__imagem {
    width: 80%;
}
.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0.2em;
    color: var(--branco-principal);
}
.descricao__texto {
    color: var(--cinza-secundario);
    width: 72%;
}

/* terceira sessao */
.secundario__botao {
    margin-top: 1em;
    display: inline-block;
}
.container__descricao {
    padding: 2em;
}

/* Quarta sessao */
.dispositivos {
    text-align: center;
}
.dispositivos__titulo {
    font-size: 48px;
}
.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 5em 0;
}
.lista__item {
    font-size: 32px;
}

/* Footer rodape */
.rodape {
    margin: 5em 3em;
    text-align: center;
}
.rodape__lista {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 1em;
}
.lista__link a {
    color: var(--branco-principal);
    margin-left: 1em;
    text-decoration: none;
}
.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color: purple;
}

.container_botao:hover {
    background-color: var(--botao-azul);
    color: var(--cor-de-fundo);
}